<h1>Policies Due Today</h1>

<table class="table">
  <thead>
    <th><%= sortable "policy_id", "Policy Details" %></th>
    <th><%= sortable "incept_date", "Dates" %></th>
    <%= content_tag :th, "Net Premium" %>
    <%= content_tag :th, "Taxes" %>
    <%= content_tag :th, "Gross Premium" %>
    <%= content_tag :th, "Commission" %>
    <%= content_tag :th, "Payment Details" %></th>
    <%= content_tag :th, "PDC Details" %>
    <%= content_tag :th, "Payment Due<br>(if net of Commission)".html_safe %>
    <%= content_tag :th, "Due Date" %>
    <%= content_tag :th %>
  </thead>

  <% @policies.each do |policy| %>
      <tr>
        <!-- Policy Details -->
        <td class="col-md-4">
          <%= content_tag :p, policy.no %>
          <%= content_tag :p, "Endorsement: #{policy.endorsement_no}", class: 'small label label-primary' if policy.endorsement_no %>
          <%= content_tag :h4, shorten(policy.assured.name, 25) %>

          <%= content_tag :b, "Intermediary: #{policy.intermediary&.intm_no} | " %>
          <%= content_tag :span, shorten(policy.intermediary&.name, 25) %>
          <%= content_tag :p, "TSI: #{format_currency(policy.tsi_amt)}" %>
        </td>

        <!-- Dates -->
        <td class="col-md-3">
          <%= content_tag :b, "Inception: " %>
          <%= content_tag :span, format_date(policy.incept_date) %><br>
          <%= content_tag :b, "Expiry: " %>
          <%= content_tag :span, format_date(policy.expiry_date) %><br>
          <%= content_tag :b, "Effectivity: " %>
          <%= content_tag :span, format_date(policy.eff_date) %>
        </td>

        <!-- Net Premium -->
        <%= content_tag :td, format_currency(policy.prem_amt), class: 'text-right' %>

        <!-- Taxes -->
        <td class="col-md-2">
          <% policy.policy_taxes.where(iss_cd: policy.policy_invoice&.iss_cd).each do |tax| %>
            <% if tax.amount > 0 || tax.amount < 0 %>
              <%= content_tag :b, tax.type %>
              <%= content_tag :span, format_currency(tax.amount) %><br>
            <% end %>
          <% end %><br>

          <%= content_tag :b, "Total Taxes: " %>
          <%= content_tag :span, format_currency(policy.policy_invoice&.total_taxes) %><br>
        </td>

        <!-- Gross Premium -->
        <%= content_tag :td, format_currency(policy.policy_invoice&.gross_premium), class: 'text-right' %>

        <!-- Commission -->
        <td>
          <%= content_tag :b, "Gross: " %>
          <%= content_tag :span, policy.commission_invoice&.gross_commission %><br>

          <%= content_tag :b, "W/Tax: " %>
          <%= content_tag :span, policy.commission_invoice&.w_tax %><br>

          <p class="label-info">
            <%= content_tag :b, "Net: " %>
            <%= content_tag :span, policy.commission_invoice&.net_commission %>
          </p>
        </td>

        <!-- Payment -->
        <td class="col-md-2">
          <% policy.policy_payments.where(iss_cd: policy.policy_invoice&.iss_cd).each do |payment| %>
              <%= content_tag :b, "Total Payments:" %>
              <%= content_tag :span, format_currency(payment.total_payment) %><br><br>
              <%= content_tag :b, "Gross Payment Due:" %>
              <%= content_tag :span, format_currency(payment.balance_due), class: 'label alert-danger' %><br><br>
              <%= content_tag :p, "Bill No: #{payment.iss_cd}-#{payment.prem_seq_no}-#{payment.installment}", class: 'small label label-primary' %>
          <% end %>
        </td>

        <!-- PDC -->
        <td class="col-md-2">
          <% policy.pdc_payments.where(iss_cd: policy.policy_invoice&.iss_cd).each do |collection| %>
              <%= content_tag :b, "Balance Due:" %>
              <%= content_tag :span, format_currency(collection.amount), class: 'label alert-danger' %><br><br>
              <%= content_tag :p, "Bank: #{collection.bank&.name} (#{collection.bank&.short_name})", class: 'small label label-primary'%><br>
              <%= content_tag :p, "Branch: #{collection.pdc_payment_detail&.bank_branch}", class: 'small label label-primary'%><br><br>
              <%= content_tag :p, "Check No: #{collection.pdc_payment_detail&.number}", class: 'small label label-primary'%><br>
              <%= content_tag :p, "Check Date: #{format_date(collection.pdc_payment_detail&.date)}", class: 'small label label-primary'%><br>
              <%= content_tag :p, "Check Amount: #{format_currency(collection.pdc_payment_detail&.amount)}", class: 'small label label-primary'%><br><br>
              <%= content_tag :p, "APDC No: #{collection.apdc_payment&.prefix}-#{collection.apdc_payment&.source}-#{collection.apdc_payment&.apdc_number}", class: 'small label label-primary'%><br>
              <%= content_tag :p, "APDC Date: #{format_date(collection.apdc_payment&.date)}", class: 'small label label-primary'%><hr>
          <% end %>
        </td>

        <!-- Net Due -->
        <%= content_tag :td, format_currency(policy.net_due), class: 'text-right' %>

        <!-- Due Date -->
        <%= content_tag :td, (format_date(policy.due_date) if policy.due_date ), class: "col-md-3" %>
        <!-- Action Button/s -->
        <%#= content_tag :td, link_to("ARS", "#", class: "btn btn-warning") %>
      </tr>
  <% end %>

  <%# for policy in @policies %>
  <%# end %>
</table>
<%= page_entries_info @initializer %><br>
<%= paginate @initializer %>
<%#= link_to 'Back to Search', _index_path %>
